<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Quote My Goods</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['Welcome']">Home</a></li>
                    <!--li><a [routerLink]="['About']">About</a></li-->
                    <!--li><a [routerLink]="['Contact']">Contact</a></li-->
                    <li><a [routerLink]="['Products']">Products</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main" class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    <br />
    <br />
    <div id="footer" class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <h4 class="text-center text-info">&copy; 2015 Quote My Goods Ltd.</h4>
        </div>
    </div>
</div>